<div class="container" *ngFor="let grp of groups">
  <h2>{{ grp }}</h2>
  <mat-divider></mat-divider><br />
  <div class="row">
    <div
      class="col-xs-12 col-md-6 col-lg-4 mb-3"
      *ngFor="let topic of dicTopicsByGroup[grp]"
    >
      <mat-card class="example-card topic">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>
            <div class="d-flex d-row align-items-center">
              <span class="mr-4">{{ topic.topic_name }}</span>
              <mat-icon *ngIf="topic.quiz_sheet_pass_percent > 99" class="green-icon" style="color:green;" >check_circle</mat-icon>
            </div>
          </mat-card-title>
          <!-- <mat-card-subtitle>{{ topic.subtitle }}</mat-card-subtitle> -->
        </mat-card-header>
        <!-- <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        /> -->
        <mat-card-content>
          <p>
            {{ topic.description }}
          </p>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
            class="expansion_panel_no_border"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="expansion_panel_full_progress">
                  <div class="d-flex flex-row justify-content-between">
                    <h6>完成單元 ( {{ topic.quiz_sheet_pass_count }} /
                  {{ topic.quiz_progress.length }} ) :</h6>
                  <div></div>

                </div>
                  <mat-progress-bar
                    mode="determinate"
                    value="{{ topic.quiz_sheet_pass_percent}}"
                  ></mat-progress-bar>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <ol>
                <li *ngFor="let qs of topic.quiz_progress" style="margin-left: -20px;">
                  <a mat-flat-button (click)="showQuizSheet(qs)" style="font-size: 1.1rem;;"
                    >{{ qs.quiz_sheet_name }} ( {{ qs.question_right_count }}/{{ qs.question_total_count }} )
                    <mat-icon *ngIf="qs.is_pass" class="green-icon" style="color:green; font-size: medium;" >check_circle</mat-icon>
                  </a>
                </li>
              </ol>
            </div>
          </mat-expansion-panel>
        </mat-card-content>
        <mat-card-actions>
          <!-- <a class="btn" [routerLink]="[topic.topic_id, 'learn']">學習</a>
          <a class="btn" [routerLink]="[topic.topic_id, 'practice']"
            >自我練習</a
          >
          <a class="btn" [routerLink]="[topic.topic_id, 'pk']">找人PK</a> -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<!-- <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->
