.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.expansion_panel_no_border {
  box-shadow: none;
}

div.expansion_panel_full_progress {
  flex-grow: inherit;
}
